body {
	background-color: #223;
}
table {
	table-layout:fixed;
	width:100%;
}
td, th {
	display:inline-block;
	width:57%;
	min-height: 50px;
	display: table-cell;
}
table td:last-child, table th:last-child {
	width:13%;
}
table td:first-child, table th:first-child {
	width:30%;
}

.logo {
	margin: 0 auto;
	text-align: center;
}
.logo img {
	width: 50%;
}
.container { margin: 15px auto; }
.container h1 {
	color: #ddd;
}
.form-control {
	margin-bottom: 15px;
}

.flash {
  -webkit-animation: flash 1s infinite; /* Safari 4+ */
  -moz-animation:    flash 1s infinite; /* Fx 5+ */
  -o-animation:      flash 1s infinite; /* Opera 12+ */
  animation:         flash 1s infinite; /* IE 10+ */
}

@-webkit-keyframes flash {
  from { background-color: #cfc; }
  to { background-color: inherit; }
}
@-moz-keyframes flash {
  from { background-color: #cfc; }
  to { background-color: inherit; }
}
@-o-keyframes flash {
  from { background-color: #cfc; }
  to { background-color: inherit; }
}
@keyframes flash {
  from { background-color: #cfc; }
  to { background-color: inherit; }
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
