body {
	background-color: #223;
}
table {
	table-layout:fixed;
	width:100%;
}
td, th {
	display:inline-block;
	width:57%;
	min-height: 50px;
	display: table-cell;
}
table td:last-child, table th:last-child {
	width:13%;
}
table td:first-child, table th:first-child {
	width:30%;
}

.logo {
	margin: 0 auto;
	text-align: center;
}
.logo img {
	width: 50%;
}
.container { margin: 15px auto; }
.container h1 {
	color: #ddd;
}
.container > p {
	color: #fff;
}
.form-control {
	margin-bottom: 15px;
}

